In [1]:
#向数据库中插入原始数据

In [1]:
import MySQLdb
conn=MySQLdb.connect(host='192.168.1.119',user='mysqlsmda',passwd='123456',db='tencent',port=3306,charset='utf8')
cur=conn.cursor()

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql://mysqlsmda:123456@192.168.1.119/tencent?charset=utf8')#用sqlalchemy创建引擎

In [2]:
#插入user表
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\user.csv")
data.to_sql('data_user',engine,if_exists='append',index='false')

KeyboardInterrupt:

In [3]:
#insert user_appInstalled
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\user_installedapps.csv")
for arr in np.array_split(np.arange(len(data)), 10000):
    data.iloc[arr].to_sql('data_user_appinstalled',engine,if_exists='append',index='id')

In [3]:
#insert user_appActions
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\user_app_actions.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('data_user_appactions',engine,if_exists='append',index='id')

In [5]:
#insert app_category
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\app_categories.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('data_app_categories',engine,if_exists='append',index='id')

In [7]:
#insert ad
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\ad.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('data_ad',engine,if_exists='append',index='id')

In [8]:
#insert ad_position
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\position.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('data_ad_position',engine,if_exists='append',index='id')

In [9]:
#insert train
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\train.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('train',engine,if_exists='append',index='id')

In [11]:
#insert test
data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\test.csv")
for arr in np.array_split(np.arange(len(data)), 1000):
    data.iloc[arr].to_sql('test',engine,if_exists='append',index='id')

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,1,-1,310000,3745,1164848,3451,1,3
1,2,-1,310000,2284,2127247,1613,1,3
2,3,-1,310000,1456,2769125,5510,2,1
3,4,-1,310000,4565,9762,4113,2,3
4,5,-1,310000,49,2513636,3615,1,3
5,6,-1,310000,3824,488035,3821,1,1
6,7,-1,310000,863,225561,4188,1,3
7,8,-1,310000,4469,1144620,4113,1,1
8,9,-1,310000,3745,1113275,3347,1,2
9,10,-1,310000,4565,1361729,2426,2,2
10,11,-1,310000,4250,1749379,4292,1,3
11,12,-1,310000,1456,840178,6086,1,1
12,13,-1,310000,51,1945411,977,4,2
13,14,-1,310000,4250,1789615,5875,1,2
14,15,-1,310000,5588,340733,2150,1,1
15,16,-1,310000,6001,1884781,1385,1,3
16,17,-1,310000,4432,596931,6667,1,3
17,18,-1,310000,4967,931181,6539,1,1
18,19,-1,310000,1704,2657412,2695,1,0
19,20,-1,310000,4565,1251533,7135,1,1
20,21,-1,310000,3690,1199429,6932,1,1
21,22,-1,310000,5527,2455848,3228,1,3
22,23,-1,310000,4565,1956857,5971,1,1
23,24,-1,310000,1831,1191158,2461,1,3
24,25,-1,310000,6190,2272417,1465,1,1
25,26,-1,310000,2189,390752,3789,1,1
26,27,-1,310000,594,1399698,6161,1,2
27,28,-1,310000,4250,2297337,6193,2,1
28,29,-1,310000,1092,1423913,5510,1,3
29,30,-1,310000,4250,1206944,2426,2,1
...,...,...,...,...,...,...,...,...
338459,338460,-1,312359,2389,1060910,1625,1,2
338460,338461,-1,312359,4565,569989,4292,1,1
338461,338462,-1,312359,863,478252,5030,1,3
338462,338463,-1,312359,3871,2493985,2044,1,1
338463,338464,-1,312359,2474,1712009,4818,1,2
338464,338465,-1,312359,4257,1422501,2150,1,1
338465,338466,-1,312359,3690,1238716,522,1,3
338466,338467,-1,312359,5187,2323692,5510,1,1
338467,338468,-1,312359,3192,1020405,3322,1,2
338468,338469,-1,312359,4432,364120,4455,1,3
338469,338470,-1,312359,863,666507,5013,1,1
338470,338471,-1,312359,5497,1163363,2823,1,3
338471,338472,-1,312359,4785,2160374,3322,1,2
338472,338473,-1,312359,1465,2452121,7619,1,2
338473,338474,-1,312359,985,1257057,4867,1,1
338474,338475,-1,312359,1456,106972,4657,1,1
338475,338476,-1,312359,750,1893932,3322,1,2
338476,338477,-1,312359,5258,1670094,3347,2,3
338477,338478,-1,312359,3869,399524,3789,1,1
338478,338479,-1,312359,4077,2611278,2579,1,1
338479,338480,-1,312359,853,53208,2579,1,1
338480,338481,-1,312359,1092,585337,103,1,1
338481,338482,-1,312359,5943,610001,2868,1,1
338482,338483,-1,312359,2553,772834,4250,1,1
338483,338484,-1,312359,6496,1043859,4867,1,3
338484,338485,-1,312359,1456,365374,4455,2,1
338485,338486,-1,312359,2962,2231643,4818,1,2
338486,338487,-1,312359,4785,1673380,3322,1,3
338487,338488,-1,312359,4432,1303085,4501,0,1
338488,338489,-1,312359,2982,490286,7149,2,1