In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv("E:\\work\\kaggle\\data\\tecent\\pre\\user.csv")
data

,userID,age,gender,education,marriageStatus,haveBaby,hometown,residence
0,1,42,1,0,2,0,512,503
1,2,18,1,5,1,0,1403,1403
2,3,0,2,4,0,0,0,0
3,4,21,2,5,3,0,607,607
4,5,22,2,0,0,0,0,1301
5,6,20,2,0,0,0,301,2301
6,7,17,1,5,0,0,313,313
7,8,21,1,2,3,1,1607,1607
8,9,38,2,2,2,0,2203,2203
9,10,13,2,0,0,0,0,2203
10,11,17,2,3,2,1,2405,1601
11,12,15,2,1,0,0,116,2101
12,13,20,1,0,0,0,604,601
13,14,0,0,0,0,0,0,602
14,15,0,0,0,0,0,0,513
15,16,19,1,1,0,0,510,1802
16,17,19,1,3,1,0,1403,1403
17,18,22,2,1,1,0,206,0
18,19,28,1,2,1,0,1011,1106
19,20,47,1,3,2,0,203,1008
20,21,14,0,0,0,0,0,104
21,22,15,1,2,0,0,0,2404
22,23,16,1,0,0,0,0,901
23,24,20,1,2,0,0,403,212
24,25,12,2,0,3,0,1003,1003
25,26,15,2,2,0,0,805,805
26,27,34,2,0,0,1,0,0
27,28,19,1,2,3,0,708,503
28,29,18,1,1,0,0,309,309
29,30,0,0,0,0,0,0,218
...,...,...,...,...,...,...,...,...
2805088,2805089,22,1,2,3,0,302,302
2805089,2805090,18,1,1,0,0,2516,2516
2805090,2805091,31,1,0,2,0,0,0
2805091,2805092,10,2,4,1,0,1504,1504
2805092,2805093,28,2,1,0,1,603,2407
2805093,2805094,35,2,0,2,1,0,1501
2805094,2805095,27,2,0,1,0,0,1602
2805095,2805096,0,1,4,0,0,0,909
2805096,2805097,28,2,3,2,1,306,306
2805097,2805098,15,1,0,2,0,512,509
2805098,2805099,21,1,6,1,0,606,601
2805099,2805100,24,1,1,1,0,3001,3001
2805100,2805101,19,1,1,0,0,805,604
2805101,2805102,0,2,0,0,0,0,2109
2805102,2805103,50,1,1,2,0,1306,1208
2805103,2805104,36,1,2,2,0,0,2301
2805104,2805105,26,1,1,0,0,911,911
2805105,2805106,15,2,1,1,0,1901,1901
2805106,2805107,13,1,5,1,0,0,1901
2805107,2805108,26,2,0,1,0,2113,2113
2805108,2805109,15,1,5,1,0,1601,1601
2805109,2805110,18,1,2,1,0,804,206
2805110,2805111,20,2,1,3,1,1504,1512
2805111,2805112,39,2,1,2,0,1101,1101
2805112,2805113,14,1,3,1,0,0,805
2805113,2805114,0,0,0,0,0,0,0
2805114,2805115,14,1,3,0,0,1901,1901
2805115,2805116,27,1,5,0,5,0,1901
2805116,2805117,34,2,1,2,1,1304,1101
2805117,2805118,51,1,0,0,0,0,2601